body {
  background-color: #592720;
  text-align: center;
  margin: 0;
}

h1 {
  color: black;
  margin-left: 3%;
}

img {
margin-left: 5%;  
border-style: solid;
border-color: black;
margin-top: 10% 
}

p { 
 font-size: 18px;
 border-style: solid;
 border-color: black;
 border-radius: 20px;
 padding: 3%;
 margin-left: 25%;
 margin-right: 20%;
 background-color: #FCF9EA;
 color: #4F5B2A;
}

ul {
  margin-top: -2%;
  list-style-type: none;
  padding: 0;
  width: 150px;
  position: fixed;
  height: 1000px;
  background-color: #836953;
  border-right-style: solid;
  border-color: black;
  border-width: 3px;
  overflow: auto;
}

.myDiv {
  margin-top: 10%;
}

li a {
  margin: 10px;
  display: block;
  color: black;
  background-color: #f2e2c8;
  padding: 6px 16px;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-style: solid;
  border-color: #836953;
  border-radius: 10px;
}

  li a.active {
  background-color: black;
  color: white;
  border-color: white;
}

li a:hover {
  background-color: #B39F7F;
  color: white;
}

